h1 {
    color: rgb(0, 247, 255);
    text-transform: uppercase;
}

.container{
    display:flex;

}
img{
   max-width:100%
}

html { 
    background: url(ghost3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
